In [100]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [340]:
##search_button=driver.find_element_by_class_name("btn")
#search_button=driver.find_element_by_xpath("//div[@class='col-xl-2 col-lg-3 col-sm-2 col-xxs-12 fl no-padding']/input")
#search_button.click()

In [341]:
driver=webdriver.Chrome("C:\Program Files (x86)\chromedriver_win32\chromedriver.exe")

In [342]:
driver.get("https://www.naukri.com/")

In [343]:
job_field=driver.find_element_by_id("qsb-keyword-sugg")
job_field.send_keys("Data Analyst")

In [344]:
loc_field=driver.find_element_by_id("qsb-location-sugg")
loc_field.send_keys("Bangalore")

In [345]:
search_button=driver.find_element_by_class_name("btn")
#search_button=driver.find_element_by_xpath("//div[@class='col-xl-2 col-lg-3 col-sm-2 col-xxs-12 fl no-padding']/input")
search_button.click()
time.sleep(10)

In [346]:

job_div=driver.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']/div/div/a")

In [347]:
job_div

[<selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="fdb0c37e-3e15-42fb-a536-b5c509a97bc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="16134b92-be78-474f-98ee-d4719c7e255c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="1ceb2367-47d2-4db9-9e58-0a4d5718425a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="ab5c8979-19e5-4c49-8b51-51aac5818d4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="43441cf6-04af-45fd-89a6-35d4f7229684")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="e9979ee1-b4d9-4168-af37-a51986db622b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="00c27160-86a9-4c28-b3ed-be63e5bfac9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="abba75ae-9e33-46ae-ab96-2e4a21378b6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="f4391c5c-9a3b-446a-bef4-f1746b1d7748")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="e209cf7c-370b-42ee-8b3c-3d261fe7a28b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="b7472c70-8291-44c2-b223-da7e55d0aad9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="b5660eb4-7bbc-456e-a645-b016812cbdd1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="c0adeef3-37f2-4aa2-9df7-e863c968ec56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="d54fb074-b516-46f9-8eda-bb506532425c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="063c7fd6-884d-4ff0-a69b-26b21e328f9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="89ff2129-bf2c-4056-a902-6a0fe5ab5f3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="42018606-2d37-43b5-ad4e-d30579152314")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="13c90351-ec4a-43e2-9466-0e6d6ca7dce5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="a7111297-22b7-4038-a864-c9a90ed0079e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc486b55a3b951af42a2a1f3218762f2", element="292b5e0c-8045-46ad-b1af-3d399d17ac7a")>]

In [348]:
job_list=[]
exp_list=[]
comp_list=[]
job_loc_list=[]
count=1

In [349]:
count=1
for d in job_div:
    if(count<11):
        job_list.append(d.text)
        count=count+1

In [350]:
job_list

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Immediate opening For Data Scientist/Data Analyst',
 'Business Data Analyst',
 'SAS AML Data Analyst / Trainee & Data Science, Python Trainee',
 'Hiring Data Analysts',
 'Hiring Data Analysts',
 'Data Analyst',
 'Study Data Analyst',
 'Data Analyst',
 'Business Data Analyst | Reinsurance Domain']

In [351]:
exp_div=driver.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']/div/div/ul/li[1]/span")

In [352]:
count=1
for d in exp_div:
    if(count<11):
        exp_list.append(d.text)
        count=count+1

In [353]:
comp_div=driver.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']/div/div/div/a[1]")

In [354]:
count=1
for d in comp_div:
    if(count<11):
        comp_list.append(d.text)
        count=count+1

In [355]:
job_loc_div=driver.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']/div/div/ul/li[3]/span")

In [356]:
count=1
for d in job_loc_div:
    if(count<11):
        job_loc_list.append(d.text)
        count=count+1

In [357]:
naukri_df=pd.DataFrame({})
naukri_df['Job-Title']=job_list
naukri_df['job-location']=job_loc_list
naukri_df['company_name']=comp_list
naukri_df['experience_required']=exp_list

In [358]:
naukri_df

,Job-Title,job-location,company_name,experience_required
0,Fresher Data Engineer / Data Scientist / Data ...,"Delhi NCR, Bengaluru, Hyderabad",ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs
1,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
2,Business Data Analyst,Bengaluru,NetApp,2-3 Yrs
3,"SAS AML Data Analyst / Trainee & Data Science,...",Bengaluru(Whitefield),MagicBase Royal BD Pvt Ltd,0-5 Yrs
4,Hiring Data Analysts,Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
5,Hiring Data Analysts,Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
6,Data Analyst,"Bengaluru, India",GlaxoSmithKline Pharmaceuticals Limited,3-5 Yrs
7,Study Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs
8,Data Analyst,Bengaluru,Cognizant Technology Solutions India Ltd,3-4 Yrs
9,Business Data Analyst | Reinsurance Domain,Bengaluru,Mphasis Limited,10-15 Yrs

In [359]:
driver.close()

In [75]:
#########################################################

In [76]:
driver=webdriver.Chrome("C:\Program Files (x86)\chromedriver_win32\chromedriver.exe")

In [77]:
driver.get("https://www.naukri.com/")

In [78]:
job_field=driver.find_element_by_id("qsb-keyword-sugg")
job_field.send_keys("Data Analyst")

In [79]:
loc_field=driver.find_element_by_id("qsb-location-sugg")
loc_field.send_keys("Bangalore")

In [80]:
search_button=driver.find_element_by_class_name("btn")
search_button.click()
time.sleep(10)

In [81]:
job_div=driver.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']/div/div/a")
job_div

[<selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="cd57212f-64b0-45d0-a532-7a353615ad26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="4268d52a-717f-4420-8b81-4d94196616b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="e4cba3fc-f4e9-41c7-971a-26cffc405fdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="fa2136e9-6730-40a6-a204-e0c2186855d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="355079c5-ac08-44f8-ae84-f0599dcc7d27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="e127fe7e-ecb5-4d98-b936-ebdd7525c31d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="153c6edd-cc59-4b7a-949a-5bc699c1fdc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="5e9259de-0feb-4c68-b9db-15b96c7339da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="81376bd2-897b-422f-ab35-806219775ebb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="e85c90c1-6d77-47bb-b9ab-14b9b123a615")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="1914e65a-b0fc-4d83-899c-f8bfab38bf96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="c7c14dc9-1d9a-4904-91cb-38e1244c3a31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="b6ed7149-8cf0-4293-93e0-e02cf5533a8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="f01173d3-c9c0-4dd7-a768-8bbb7beff7df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="655ce70e-1dfe-47e0-a9e6-4ab3fca8162a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="33abf5aa-f2b8-46f6-972f-4cd5b31c5b0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="10e793eb-9f75-414a-b8a7-9b848965b525")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="53146870-c515-466e-a911-7fdc8215ea51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="e2582705-e4a4-49d0-bd43-175114d1283b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="b7c348fa-47c3-489a-9919-4eee9a9f2ede")>]

In [82]:
job_title_list=[]
job_desc_list=[]
job_loc_list=[]
comp_list=[]

In [83]:
comp_div=driver.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']/div/div/div/a[1]")
comp_div

[<selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="934a6727-fcde-4fc0-9be1-151748e80487")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="793bc46d-1bcc-43cf-9dfc-92e19d915ae3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="84a69fe5-7867-4da1-89e4-1605f1fd73fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="7a58da40-6ade-472a-b49b-eb09338ccb0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="bcaf6f1b-082d-4fee-bea7-4f27184e7f76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="b9e5f593-dc6e-4f96-b17d-4bd33e8bd1d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="0c2108f7-34d2-4a93-83c3-bc01ed779f41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="03e0d005-37f7-457e-9da3-53929f3ba0f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="c7fc9e54-be5e-4dfc-8c5d-456a67f40eda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="5be66bfc-7dae-481b-a907-639eefe1b3f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="1b6568fa-0534-4a92-8a00-f5cf02145103")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="063fceab-60d5-467a-b17b-104f575fb645")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="39187be1-3fe7-4e5a-a533-8d4d3eeafbaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="29bf4ed5-8cdc-4a6f-88ec-1addc9a08c87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="df9bc4c8-8d93-4e67-903d-a26ee99b5faa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="0a1faebf-4bbc-4772-beb7-9b63ab3f054f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="49a95cae-50c8-4c6f-8d87-0e228df735ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="a85d8c69-6310-45fa-8e33-fabf257fc1b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="ac1d3d37-6745-4151-981e-8f429c2cd213")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48cd60498d07e292dd8bc5fdfc533809", element="f0eafba7-087d-48ea-8c5b-0484e6ef4d5d")>]

In [84]:
count=1
for d in comp_div:
    if(count<11):
        comp_list.append(d.text)
        count=count+1

In [85]:
job_loc_div=driver.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']/div/div/ul/li[3]/span")

count=1
for d in job_loc_div:
    if(count<11):
        job_loc_list.append(d.text)
        count=count+1

In [86]:
job_div=driver.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']/div/div/a")
count=1
for d in job_div:
    if(count<11):
        job_title_list.append(d.text)
        count=count+1

In [87]:
url_list=[]

In [88]:
for i in range(0,len(job_div)):
    if(i<10):
        #driver_new=webdriver.Chrome("C:\Program Files (x86)\chromedriver_win32\chromedriver.exe")
        url=job_div[i].get_attribute('href')
        url_list.append(url)

In [89]:
url_list

['https://www.naukri.com/job-listings-fresher-data-engineer-data-scientist-data-analyst-requirements-achyutas-soft-private-limited-delhi-ncr-bengaluru-bangalore-hyderabad-secunderabad-0-to-2-years-061220001192?src=jobsearchDesk&sid=16082126166439233&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-data-analyst-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=16082126166439233&xp=2&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-netapp-india-private-limited-bengaluru-bangalore-2-to-3-years-141220902552?src=jobsearchDesk&sid=16082126166439233&xp=3&px=1',
 'https://www.naukri.com/job-listings-sas-aml-data-analyst-trainee-data-science-python-trainee-magicbase-royal-bd-pvt-ltd-bengaluru-bangalore-0-to-5-years-061220000567?src=jobsearchDesk&sid=16082126166439233&xp=4&px=1',
 'https://www.naukri.com/job-listings-hiring-data-analysts-flipkart-internet-private-limited-bengaluru-bangalore-2-to-5-years-131220000867?src=jobsearchDesk&sid=16082126166439233&xp=5&px=1',
 'https://www.naukri.com/job-listings-hiring-data-analysts-flipkart-internet-private-limited-bengaluru-bangalore-2-to-5-years-041220003590?src=jobsearchDesk&sid=16082126166439233&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-analyst-glaxosmithkline-pharmaceuticals-limited-bengaluru-bangalore-india-3-to-5-years-101220905821?src=jobsearchDesk&sid=16082126166439233&xp=7&px=1',
 'https://www.naukri.com/job-listings-study-data-analyst-glaxosmithkline-pharmaceuticals-limited-bengaluru-bangalore-4-to-8-years-101220905167?src=jobsearchDesk&sid=16082126166439233&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-analyst-cognizant-technology-solutions-india-ltd-bengaluru-bangalore-3-to-4-years-071220902309?src=jobsearchDesk&sid=16082126166439233&xp=9&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-reinsurance-domain-mphasis-limited-bengaluru-bangalore-10-to-15-years-151220903666?src=jobsearchDesk&sid=16082126166439233&xp=10&px=1']

In [90]:
for url in url_list:
    print('urlllllllllllllll',url)
    driver.get(url)
    time.sleep(5)
    try:
        job_desc_div=driver.find_element_by_xpath("//section[@class='job-desc']")
    except NoSuchElementException:
        try:
            job_desc_div=driver.find_element_by_xpath("//*[@id='apply_career']/div[1]/div[2]")
        except NoSuchElementException:
            try:
                job_desc_div=driver.find_element_by_xpath("//*[@id='after_full_slider_1']/div/div/div/div/div/section[1]/div")
            except NoSuchElementException:
                job_desc_div=driver.find_element_by_xpath("//*[@id='after_full_slider_1']/div/div/div/div/section[1]/div/div[2]")
    
    
    job_desc_list.append(job_desc_div.text)
    
    
    
        
        
#     comp_div=driver.find_elements_by_xpath("//section[@class='jd-header']/div/div/div/a")
#     for div in comp_div:
#         print('company**************',div.text)
#         comp_list.append(div.text)
        
 
#     job_title_div=driver.find_elements_by_xpath("//section[@class='jd-header']/div/div/header/h1")
#     for div in job_title_div:
#         print('job title**************',div.text)
#         job_title_list.append(div.text)    
        
        
#     job_loc_div=driver.find_elements_by_xpath("//section[@class='jd-header']/div/div/div/span")
#     for div in job_loc_div:
#         print('job loc**************',div.text)
#         job_loc_list.append(div.text)

urlllllllllllllll https://www.naukri.com/job-listings-fresher-data-engineer-data-scientist-data-analyst-requirements-achyutas-soft-private-limited-delhi-ncr-bengaluru-bangalore-hyderabad-secunderabad-0-to-2-years-061220001192?src=jobsearchDesk&sid=16082126166439233&xp=1&px=1
urlllllllllllllll https://www.naukri.com/job-listings-data-scientist-data-analyst-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=16082126166439233&xp=2&px=1
urlllllllllllllll https://www.naukri.com/job-listings-business-data-analyst-netapp-india-private-limited-bengaluru-bangalore-2-to-3-years-141220902552?src=jobsearchDesk&sid=16082126166439233&xp=3&px=1
urlllllllllllllll https://www.naukri.com/job-listings-sas-aml-data-analyst-trainee-data-science-python-trainee-magicbase-royal-bd-pvt-ltd-bengaluru-bangalore-0-to-5-years-061220000567?src=jobsearchDesk&sid=16082126166439233&xp=4&px=1
urlllllllllllllll https://www.naukri.com/job-listings-hiring-data-analysts-flipkart-internet-private-limited-bengaluru-bangalore-2-to-5-years-131220000867?src=jobsearchDesk&sid=16082126166439233&xp=5&px=1
urlllllllllllllll https://www.naukri.com/job-listings-hiring-data-analysts-flipkart-internet-private-limited-bengaluru-bangalore-2-to-5-years-041220003590?src=jobsearchDesk&sid=16082126166439233&xp=6&px=1
urlllllllllllllll https://www.naukri.com/job-listings-data-analyst-glaxosmithkline-pharmaceuticals-limited-bengaluru-bangalore-india-3-to-5-years-101220905821?src=jobsearchDesk&sid=16082126166439233&xp=7&px=1
urlllllllllllllll https://www.naukri.com/job-listings-study-data-analyst-glaxosmithkline-pharmaceuticals-limited-bengaluru-bangalore-4-to-8-years-101220905167?src=jobsearchDesk&sid=16082126166439233&xp=8&px=1
urlllllllllllllll https://www.naukri.com/job-listings-data-analyst-cognizant-technology-solutions-india-ltd-bengaluru-bangalore-3-to-4-years-071220902309?src=jobsearchDesk&sid=16082126166439233&xp=9&px=1
urlllllllllllllll https://www.naukri.com/job-listings-business-data-analyst-reinsurance-domain-mphasis-limited-bengaluru-bangalore-10-to-15-years-151220903666?src=jobsearchDesk&sid=16082126166439233&xp=10&px=1

In [91]:
len(job_desc_list)

10

In [92]:
len(job_title_list)

10

In [93]:
len(job_loc_list)

10

In [94]:
len(comp_list)

10

In [95]:
naukri_desc_df=pd.DataFrame({})
naukri_desc_df['job-title']=job_title_list
naukri_desc_df['job-location']=job_loc_list
naukri_desc_df['company_name']=comp_list
naukri_desc_df['full job-description']=job_desc_list

In [96]:
naukri_desc_df

,job-title,job-location,company_name,full job-description
0,Fresher Data Engineer / Data Scientist / Data ...,"Delhi NCR, Bengaluru, Hyderabad",ACHYUTAS SOFT PRIVATE LIMITED,Job description\nRoles and Responsibilities\nA...
1,Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,Job description\nDear Candidate\n\nSchedule a ...
2,Business Data Analyst,Bengaluru,NetApp,Job Summary:\nData Analysts work as part of a ...
3,"SAS AML Data Analyst / Trainee & Data Science,...",Bengaluru(Whitefield),MagicBase Royal BD Pvt Ltd,Job description\n\nWe are looking to hire SAS ...
4,Hiring Data Analysts,Bengaluru,Flipkart Internet Private Limited,Job description\nHiring Data Analyst profile o...
5,Hiring Data Analysts,Bengaluru,Flipkart Internet Private Limited,Job description\nFlipkart is looking for Data ...
6,Data Analyst,"Bengaluru, India",GlaxoSmithKline Pharmaceuticals Limited,Job Description\nRoles and Responsibilities\nS...
7,Study Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,Job Description\nRoles and Responsibilities\nA...
8,Data Analyst,Bengaluru,Cognizant Technology Solutions India Ltd,Job Description\nRoles and Responsibilities\nT...
9,Business Data Analyst | Reinsurance Domain,Bengaluru,Mphasis Limited,Roles and Responsibilities\nRole: Data Analyst...

In [97]:
naukri_desc_df['full job-description']

0    Job description\nRoles and Responsibilities\nA...
1    Job description\nDear Candidate\n\nSchedule a ...
2    Job Summary:\nData Analysts work as part of a ...
3    Job description\n\nWe are looking to hire SAS ...
4    Job description\nHiring Data Analyst profile o...
5    Job description\nFlipkart is looking for Data ...
6    Job Description\nRoles and Responsibilities\nS...
7    Job Description\nRoles and Responsibilities\nA...
8    Job Description\nRoles and Responsibilities\nT...
9    Roles and Responsibilities\nRole: Data Analyst...
Name: full job-description, dtype: object

In [ ]:
driver.close()

In [335]:
################################################################

In [336]:
driver=webdriver.Chrome("C:\Program Files (x86)\chromedriver_win32\chromedriver.exe")

In [337]:
driver.get("https://www.naukri.com/")

In [338]:
job_field=driver.find_element_by_id("qsb-keyword-sugg")
job_field.send_keys("data scientist")
search_button=driver.find_element_by_class_name("btn")
#search_button=driver.find_element_by_xpath("//div[@class='col-xl-2 col-lg-3 col-sm-2 col-xxs-12 fl no-padding']/input")
search_button.click()
time.sleep(5)

In [339]:
# loc_div_list=driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']/input[@type='checkbox']")
# driver.find_element_by_xpath("//span[contains(text(),'Industry')]").click()
# s=driver.find_element_by_id("chk-Pune-cityType-expanded")

more_btn=driver.find_element_by_xpath("//a[@class='blue-text filter-more-link']")

In [340]:
more_btn.click()

In [341]:
blr_loc=driver.find_element_by_xpath("//div[@id='tooltip']/div[2]/div/input[@id='chk-Delhi/NCR-cityType-expanded']")
driver.execute_script("arguments[0].click();", blr_loc)
time.sleep(5)

In [342]:
salary_btn=driver.find_element_by_xpath("//div[@class='filters']/div[3]/div[2]/div[5]/a")

In [343]:
salary_btn.click()

In [344]:
salary=driver.find_element_by_xpath("//div[@class='filters']/div[3]/div[3]/div[2]/div[2]/input[@id='chk-3-6 Lakhs-ctcFilter-expanded']")

In [345]:
driver.execute_script("arguments[0].click();", salary)

In [346]:
job_loc_list=[]
job_loc_div=driver.find_elements_by_xpath("//section[@class='listContainer fleft']/div[2]/article/div/div/ul/li[3]/span")


count=1
for d in job_loc_div:
    if(count<11):
        #print(d.text)
        job_loc_list.append(d.text)
        count=count+1

In [347]:
len(job_loc_list)

10

In [348]:
job_title_list=[]
# job_title_div=driver.find_elements_by_xpath("//section[@class='listContainer fleft']/div[2]/article/div/div/a")
job_title_div=driver.find_elements_by_xpath("//section[@class='listContainer fleft']/div[2]/article/div/div/a")


count=1
for d in job_title_div:
    if(count<11):
        #print(d.text)
        job_title_list.append(d.text)
        count=count+1

In [349]:
job_title_list

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)',
 'Data Scientist',
 'Data Scientist',
 'Job | Opportunity For Senior Role(Data Scientist)-Bank of America',
 'Data Scientist For A Leading Movers & Packers Organisation',
 'Data Scientist(Hadoop/ Redshift /BigQuery)',
 'Data Scientist',
 'Data Scientist']

In [350]:
comp_list=[]
comp_div=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div/div/div/a[1]")
count=1
for d in comp_div:
    if(count<11):
        print(d.text)
        comp_list.append(d.text)
        count=count+1

ACHYUTAS SOFT PRIVATE LIMITED
Aerial Telecom Solutions Pvt. Ltd.
Aerial Telecom Solutions Pvt. Ltd.
PureSoftware Pvt Ltd.
World Wide Technology
BA Continuum India Pvt. Ltd
Myfuture Placement Consultancy
Jubna
KNOWLEDGE EXCEL PRIVATE LIMITED
Imbibe Consultancy Services Pvt Ltd

In [351]:

sal_list=[]
sal_div=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[2]/span")
count=1
for d in sal_div:
    if(count<11):
        print(d.text)
        sal_list.append(d.text)
        count=count+1

3,50,000 - 8,50,000 PA.
5,00,000 - 15,00,000 PA.
5,00,000 - 15,00,000 PA.
Not disclosed
Not disclosed
Not disclosed
2,00,000 - 3,00,000 PA.
Not disclosed
Not disclosed
5,00,000 - 15,00,000 PA.

In [352]:
naukri_filter_df=pd.DataFrame({})
naukri_filter_df['job-title']=job_title_list
naukri_filter_df['job-location']=job_loc_list
naukri_filter_df['company_name']=comp_list
naukri_filter_df['salary']=sal_list

In [353]:
naukri_filter_df

,job-title,job-location,company_name,salary
0,Fresher Data Engineer / Data Scientist / Data ...,"Delhi NCR, Bengaluru, Hyderabad",ACHYUTAS SOFT PRIVATE LIMITED,"3,50,000 - 8,50,000 PA."
1,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,"5,00,000 - 15,00,000 PA."
2,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,"5,00,000 - 15,00,000 PA."
3,Data Scientist,Gurgaon,PureSoftware Pvt Ltd.,Not disclosed
4,Data Scientist,Gurgaon,World Wide Technology,Not disclosed
5,Job | Opportunity For Senior Role(Data Scienti...,"Gandhinagar, Delhi NCR, Mumbai, Gurgaon",BA Continuum India Pvt. Ltd,Not disclosed
6,Data Scientist For A Leading Movers & Packers ...,Delhi NCR,Myfuture Placement Consultancy,"2,00,000 - 3,00,000 PA."
7,Data Scientist(Hadoop/ Redshift /BigQuery),Noida,Jubna,Not disclosed
8,Data Scientist,Delhi NCR(Patparganj Industrial Area),KNOWLEDGE EXCEL PRIVATE LIMITED,Not disclosed
9,Data Scientist,"Delhi NCR, Bengaluru, Hyderabad",Imbibe Consultancy Services Pvt Ltd,"5,00,000 - 15,00,000 PA."